body {
    background-color: white;

}
.container {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 100px 20px black;
    color: #2FC4BF;
}
.jumbotron {
    background-image: url(../pic/BaFrInds_Head.jpg);
    background-size: 600px 340px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 90%;
    height: 400px;
}
.desk {
    font-family: 'Lora', serif;
    font-size: 1,5em;
    background-color: #3C3744;
    padding-bottom: 50px;
}
.projects {
    padding-bottom: 20%;
    background-color: #3C3744;
    margin-bottom: 0;
}
.projects h1 {
    text-align: center;
    font-size: 3em;
    background-color: #3C3744;
    margin-top: 0;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    letter-spacing: 3px;
    border-bottom: 1px dashed #2FC4BF;
}
.desk p {
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #2FC4BF;
}
.head {
    text-align: center;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    letter-spacing: 3px;
    border-bottom: 1px dashed #2FC4BF !important;
}
.text {
    font-family: 'Open Sans';
    font-weight: 300;
    padding-left: 30px;
}
li a:link, li a:visited {
    border: 1;
    border-color: #2FC4BF;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lobster', cursive;
    color: #2FC4BF;
}
li a:hover, li a:active {
    background-color: #1B998B;
    color: #2FC4BF;
}
.thanks {
    text-align: right;
    background-color: #3C3744;
}
.thanks p {
  margin: 0;
  padding: 0 25px 15px 0;
}
.thanks a {
    color: #2FC4BF;
    text-decoration: none;
}
