body {
    background-color: white;
    
}
.container {
    margin-left: 10%;
    margin-right: 10%;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    box-shadow: 0px 0px 100px 20px black;
}
.subcontainer .jumbotron {
    background-image: url(../pic/BaFrInds_Head.jpg);
    background-size: 600px 340px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 11px;
    margin-right: 11px;
    display: inline-block;
    position: relative;
    width: 90%;
    height: 400px;
}
.desk {
    font-family: 'Lora', serif;
    font-size: 1,5em;
    background-color: #d7ac00;
}
.projects {
    padding-bottom: 20%;
    background-color: #3C3744;
    color: white;
}
.projects h1 {
    font-family: 'Nova Script', cursive;
    text-align: center;
    font-size: 3em;
    background-color: bisque;
    color: #3C3744;
    margin-top: 0;
}
.desk p {
    margin-bottom: 0;
    margin-top: 0;
}
.head {
    text-align: center;
    font-size: 2em;
}
.subcontainer .left {
    float: left;
}
.subcontainer {
    position: relative;
}
.subcontainer .right {
    float: right;
}
.subcontainer .right,.left {
    background-color: black;
    width: 1%;
    display: inline-block;
    position: relative;
    height: 400px;
}