body {
    background-color: white;
    
}
.container {
    margin-left: 10%;
    margin-right: 10%;
    border-style: double;
    box-shadow: 10px 10px 5px #888888;
}
.jumbotron {
    background-image: url(../pic/BaFrInds_Head.jpg);
    padding-bottom: 30%;
    background-size: 640px 400px;
    background-repeat: no-repeat;
    background-position: center;
}
.desk {
    font-family: 'Lora', serif;
    font-size: 1,5em;
    background-color: #d7ac00;
}
.projects {
    padding-bottom: 20%;
    background-color: #3C3744;
    color: white;
}
.projects h1 {
    font-family: 'Nova Script', cursive;
    text-align: center;
    font-size: 3em;
    background-color: bisque;
    color: #3C3744;
}